<h2>customer List </h2>
<hr>

<a routerLink="/customerManage">Add Customer</a> 

<table class="styled-table">
    <thead>
        <tr>
            <th>Id </th>
            <th>First Name </th>
            <th>Last Name</th>
            <th>Email</th>
    
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; ">

            <td>{{customer.id}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
        </tr>
    </tbody>
</table>